/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #a9a9a9;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
  font-family: 'Cinzel', sans-serif;
  color: #2a2a2a;
  text-align: center;
}

p, input, li {
  font-family: 'Roboto Condensed', sans-serif;

}

h1 {
  font-size: 8rem;
  text-shadow: 2px 2px 10px black;
  flex: 5;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
  text-align: center;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
  text-transform: uppercase;

}

/* || header layout */
p{
  color: "white";
}

body > * {
  background-color: violet;
  padding: 1%;
}

header, nav,, footer{
  background-color: rgba(200,0,255,0.5);
  padding: 1%;
}
main,article, aside, section {
  background-color: pink;
  padding: 1%;
}



header img {
  height: 60px;
  padding-top: 20.15px;
}
.header{
  position:relative;
}
.header img{
position: absolute;
top:10px;
right:45px;
}


.desc{
  background: url(images/she3.jpeg);
  background-repeat:round;
}
nav {
  height: 50px;
  flex: 100%;
  display: flex;
  background-color: rgba(400, 0, 400, 0.5);
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a, nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: black;

}

/* || main layout */

main section{
  display: flex;
}

article, section {
  flex: 2;
}

aside {
  flex: 1;
  margin-left: 10px;
  padding: 1%;
  float: left;
}



aside form {
  max-width: 100%;
  padding-bottom: 15px;

}
form input{
  padding:10px;
  color: inherit;
  width: 100%;
}
aside a em{
  font-size: 2rem;
}
h4{
  font-size: 2rem;
}

.test button{
  margin-top: 6 rem;
  height:20px;
  width:65px;
  padding: none;

}
footer {
  font-size: 1rem;
  text-align: center;
}
